/* .one {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    margin-top: 30px;
    padding: 12px;
    border-radius: 19px;
}

.two {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    margin-top: 20px;
    padding: 12px;
    border-radius: 19px;
}

.three {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    margin-top: 20px;
    padding: 12px;
    border-radius: 19px;
}

.four {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    margin-top: 20px;
    padding: 12px;
    border-radius: 19px;
}

.five {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 350px;
    margin-top: 25px;
    padding: 12px;
    border-radius: 19px;
    color: aliceblue;
    background-color: green;
}

.inside {
    width: 50%;
    height: 450px;
    border: solid 1px rgb(127, 198, 206);
    background-color: rgb(138, 191, 224);
    box-shadow: 3px 5px 8px lightskyblue;
    margin-left: 390px;
    margin-top: 130px;
    border-radius: 19px;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 7px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

.hhrr {
    background-color: black;
    color: black;
    margin-top: 9px;
} */

.loginsignup {
    width: 100%;
    height: 80vh;
    background: #fce3fe;
    padding-top: 100px;
}

.loginsignup-container {
    width: 580px;
    height: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
    margin-bottom: 270px;
}

.loginsignup-container h1 {
    margin: 20px 0px;
}

.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}

.loginsignup-fields input {
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.loginsignup-fields button {
    width: 580px;
    height: 72px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.loginsignup-login {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.loginsignup-login span {
    color: #ff4141;
    font-weight: 600;
}

.loginsignup-agree {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}