.items {
    width: 330px;
    background-color: rgb(245, 232, 242);
    box-shadow: 2px 2px 5px gray;
    border-radius: 5px;
    height: 530px;
    margin-left: 15px;
}

.items p {
    color: rgb(154, 46, 7);
    font-size: 19px;
    font-weight: 600;
    display: flex;
    margin-left: 10px;
    padding-bottom: 10px;
}

.nine {
    width: 330px;
    height: 390px;
}

.items-Prices {
    display: flex;
    gap: 20px;
    display: flex;
    float: left;
}

.items-Prices-New {
    color: red;
    font-size: 20px;
    font-weight: 600;
    padding-left: 90px;
    display: flex;
    float: left;
}

.items-Prices-Old {
    color: brown;
    font-size: 20px;
    font-weight: 600;
    text-decoration: line-through;
    padding-left: 10px;
    display: flex;
    float: left;
}

.items:hover {
    transform: scale;
    transition: 0.6s;
}

.items-Price-New {
    color: red;
    font-size: 20px;
    font-weight: 600;
    padding-left: 120px;
    display: flex;
    float: left;
}

.items-Price-Old {
    color: brown;
    font-size: 20px;
    font-weight: 600;
    text-decoration: line-through;
    padding-left: 10px;
    display: flex;
    float: left;
}

.botom {
    display: flex;
    float: left;
    padding-left: 20px;
    padding-top: 12px;
}

.botom button {
    background-color: orangered;
    width: 100px;
    border-radius: 20px;
}

.botom p {
    padding-top: 10px;
    font-size: 20px;
    color: orangered;
}

.botom img {
    padding-left: 40px;
}

.h4 {
    margin-left: 14px;
}